html,
body,
#app {
  height: 100%;
  /* user-select: none; */
}

html.dark {
  background: #F2F3F6;
}

/* 自定义字体 */
@font-face{
  font-family: 'pottaOne';
  src: url("../asset/font/pottaOne/pottaOne.otf");
}

@font-face{
  font-family: "muKaiShu";
  src: url("../asset/font/ゆずの木楷書・かな改め_100font.com/ゆずの木楷書.ttf");
}

@font-face{
  font-family: "weizhi";
  src: url("../asset/font/id_ぽっぷふとまる_100font.com/maru401op.otf");
}
