/* 自定义字体 */
@font-face{
  font-family: 'pottaOne';
  src: url("../asset/font/pottaOne/pottaOne.otf");
}

@font-face{
  font-family: "muKaiShu";
  src: url("../asset/font/ゆずの木楷書・かな改め_100font.com/ゆずの木楷書.ttf");
}

@font-face{
  font-family: "weizhi";
  src: url("../asset/font/id_ぽっぷふとまる_100font.com/maru401op.otf");
}

body{
  user-select: none;
}

body::-webkit-scrollbar{
  display: none;
}


::view-transition-oid(router){
  animation: none 0.3s !important;
  mix-blend-mode: normal !important;
  filter: blur(20px) !important;
  -webkit-animation: none 0.3s !important;

}

::view-transition-new(router){
  animation: none 0.3s !important;
  mix-blend-mode: normal !important;
  filter: blur(20px) !important;
  -webkit-animation: none 0.3s !important;
}
